<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unique.myapplication">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.Splash"
            android:label="Workout-V1.0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GymExercisesActivity">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.ANIMATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.IdealWeightActivity">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.IDEALWEIGHTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BMIActivity">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.MainActivity"
            android:theme="@style/AppTheme1">
        </activity>
        <activity android:name=".view.YoutubePlayer"
            android:theme="@style/AppTheme1"></activity>

        <activity
            android:name=".view.WorkoutActivity"
            android:label="Animation Workout">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.WORKOUTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TipsActivity"
            android:label="Read Health and Fitness Tips">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.TIPSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GymExercises_YT_VidActivity"></activity>
        <activity android:name=".view.MainBackground"></activity>
        <activity android:name=".view.DietActivity"></activity>
        <activity android:name=".view.DietSchedulerActivity"></activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.MainScreen"
            android:label="Welcome To Workout Pro">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NavigationActivity"
            android:label="@string/title_activity_navigation">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.NAVIGATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.StepCounterActivity" />
        <activity android:name=".view.MusicPlayerActivity" />
        <activity android:name=".view.Main"></activity>
    </application>

</manifest>
