<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unique.myapplication">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name=".view.Splash"
            android:label="Workout Pro Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GymExercisesActivity" android:label="Workout Body Parts">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.ANIMATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.IdealWeightActivity" android:label="Basal Metabolic Ratio(MBR)">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.IDEALWEIGHTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BMIActivity" android:label="Body Mass Index Calculator">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.VideoPrediction" android:label="Workout Youtube Videos"
            android:theme="@style/AppTheme1">
        </activity>
        <activity android:name=".view.YoutubePlayer"
            android:theme="@style/AppTheme1"></activity>

        <activity
            android:name=".view.WorkoutActivity"
            android:label="Workout Anime and Tips">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.WORKOUTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TipsActivity"
            android:label="Read Health and Fitness Tips">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.TIPSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GymExercises_YT_VidActivity" android:label="Workout Body Parts"></activity>
        <activity android:name=".view.MainBackground" android:label="Workout Body Parts"></activity>
        <activity android:name=".view.DietActivity" android:label="Diet Scheduler"></activity>
        <activity android:name=".view.DietSchedulerActivity" android:label="Diet Scheduler"></activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.MainScreen"
            android:label="Welcome To Workout Pro">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NavigationActivity"
            android:label="@string/title_activity_navigation">
            <intent-filter>
                <action android:name="com.example.unique.myapplication.NAVIGATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.StepCounterActivity" android:label="Step Counter" />
        <activity android:name=".view.MusicPlayerActivity" android:label="Music Player" />
        <activity android:name=".view.Main"></activity>
        <activity
            android:name=".view.MainActivity"
            android:label="WorkOut Pro"
            android:theme="@style/AppTheme2">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="WorkOut Pro " >
            <intent-filter>
                <action android:name="comsats.community.fyp.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignupActivity"
            android:label="Create New Account" >
            <intent-filter>
                <action android:name="comsats.community.fyp.SIGNUPACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainPage"
            android:label="Welcome to WorkOut Pro" android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="fast.community.se.MainPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UpdateProfile"
            android:label="Update Profile" >
        </activity>
        <activity
            android:name=".view.Profile"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".view.WorkOut_Schedule">
            <intent-filter>
                <action android:name="fast.community.se.WorkOut_Schedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Change_Password"
            android:label="Change Password" >
        </activity>

    </application>

</manifest>
